---
Checks: '
  -clang-diagnostic-*,
  -llvmlibc-*,
  -altera-*,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -misc-include-cleaner,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -performance-type-promotion-in-math-fn,
  -hicpp-signed-bitwise,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -concurrency-mt-unsafe,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -cppcoreguidelines-init-variables,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -readability-avoid-nested-conditional-operator,
  -cppcoreguidelines-narrowing-conversions,
  -bugprone-narrowing-conversions,
  -performance-no-int-to-ptr,
  -altera-id-dependent-backward-branch,
  -readability-inconsistent-declaration-parameter-name,
  -bugprone-assignment-in-if-condition,
  -bugprone-signed-char-misuse,
  -cert-str34-c,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -llvm-include-order,
  -readability-function-cognitive-complexity,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  -clang-analyzer-unix.MallocSizeof,
  -cert-err33-c,
  -misc-unused-parameters,
  -bugprone-switch-missing-default-case,
  -hicpp-multiway-paths-covered,
  -readability-named-parameter,
  -altera-unroll-loops
'
WarningsAsErrors: "*"
