.xmake/
build/
*~
#*#



# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
